In [50]:
import pandas as pd
import csv
data = pd.read_csv('titanic//train.csv')

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler

     PassengerId  Survived  Pclass  \
674          675         0       2
854          855         0       2
587          588         1       1
212          213         0       3
819          820         0       3

                                              Name     Sex   Age  SibSp  \
674                     Watson, Mr. Ennis Hastings    male   NaN      0
854  Carter, Mrs. Ernest Courtenay (Lilian Hughes)  female  44.0      1
587               Frolicher-Stehli, Mr. Maxmillian    male  60.0      1
212                         Perkin, Mr. John Henry    male  22.0      0
819                   Skoog, Master. Karl Thorsten    male  10.0      3

     Parch     Ticket   Fare Cabin Embarked
674      0     239856   0.00   NaN        S
854      0     244252  26.00   NaN        S
587      1      13567  79.20   B41        C
212      0  A/5 21174   7.25   NaN        S
819      2     347088  27.90   NaN        S

In [61]:
data = pd.read_csv('titanic//train.csv')
df = pd.DataFrame(data)

# Gender Class
df.loc[df['Sex'] == "male", 'Sex'] = 0
df.loc[df['Sex'] == "female", 'Sex'] = 1

# Embarked Class
df.loc[df['Embarked'] == "C", 'Embarked'] = 0
df.loc[df['Embarked'] == "Q", 'Embarked'] = 1
df.loc[df['Embarked'] == "S", 'Embarked'] = 2
df["Embarked"]=df["Embarked"].fillna(2)

# Fare Class

# Replace empty row with median fare

from numpy import median
median_fare = median(df["Fare"])

df["Fare"]=df["Fare"].fillna(median_fare)

# Divide into three types of payments
# 0 for less than 10
# 1 for more than 10 but less than or equal to 40
# 2 for over 40 
df.loc[df['Fare']<=10, 'Fare'] = 0
df.loc[(df['Fare'] > 10) & (df['Fare'] <= 40), 'Fare'] = 1
df.loc[df['Fare'] > 40, 'Fare'] = 2

df['Fare'] = df['Fare'].astype(int)


#age

df["Age"]=df["Age"].fillna(0)
median_age= median (df["Age"])
print(median_age)
df["Age"]=df["Age"].replace(0, median_age)

print(df)

24.0
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1
2                               Heikkinen, Miss. Laina    1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1
4                             Allen, Mr. William Henry    0  35.0      0
5                                     Moran, Mr. James    0  24.0      0
6                              McCarthy, Mr. Timothy J    0  54.0      0
7                       Palsson, Master. Gosta Leonard    0   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)    1  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)    1  14.0      1
10                     Sandstrom, Miss. Marguerite Rut    1   4.0      1
11                            Bonnell, Miss. Elizabeth    1  58.0      0
12                      Saundercock, Mr. William Henry    0  20.0      0
13                         Andersson, Mr. Anders Johan    0  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina    1  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)     1  55.0      0
16                                Rice, Master. Eugene    0   2.0      4
17                        Williams, Mr. Charles Eugene    0  24.0      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...    1  31.0      1
19                             Masselmani, Mrs. Fatima    1  24.0      0
20                                Fynney, Mr. Joseph J    0  35.0      0
21                               Beesley, Mr. Lawrence    0  34.0      0
22                         McGowan, Miss. Anna "Annie"    1  15.0      0
23                        Sloper, Mr. William Thompson    0  28.0      0
24                       Palsson, Miss. Torborg Danira    1   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...    1  38.0      1
26                             Emir, Mr. Farred Chehab    0  24.0      0
27                      Fortune, Mr. Charles Alexander    0  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"    1  24.0      0
29                                 Todoroff, Mr. Lalio    0  24.0      0
..                                                 ...  ...   ...    ...
861                        Giles, Mr. Frederick Edward    0  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...    1  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"    1  24.0      8
864                             Gill, Mr. John William    0  24.0      0
865                           Bystrom, Mrs. (Karolina)    1  42.0      0
866                       Duran y More, Miss. Asuncion    1  27.0      1
867               Roebling, Mr. Washington Augustus II    0  31.0      0
868                        van Melkebeke, Mr. Philemon    0  24.0      0
869                    Johnson, Master. Harold Theodor    0   4.0      1
870                                  Balkic, Mr. Cerin    0  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)    1  47.0      1
872                           Carlsson, Mr. Frans Olof    0  33.0      0
873                        Vander Cruyssen, Mr. Victor    0  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)    1  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"    1  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    0  20.0      0
877                               Petroff, Mr. Nedelio    0  19.0      0
878                                 Laleff, Mr. Kristo    0  24.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)    1  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)    1  25.0      0
881                                 Markun, Mr. Johann    0  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika    1  22.0      0
883                      Banfield, Mr. Frederick James    0  28.0      0
884                             Sutehall, Mr. Henry Jr    0  25.0      0
885               Rice, Mrs. William (Margaret Norton)    1  39.0      0
886                              Montvila, Rev. Juozas    0  27.0      0
887                       Graham, Miss. Margaret Edith    1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    1  24.0      1
889                              Behr, Mr. Karl Howell    0  26.0      0
890                                Dooley, Mr. Patrick    0  32.0      0

     Parch            Ticket  Fare        Cabin  Embarked
0        0         A/5 21171     0          NaN         2
1        0          PC 17599     2          C85         0
2        0  STON/O2. 3101282     0          NaN         2
3        0            113803     2         C123         2
4        0            373450     0          NaN         2
5        0            330877     0          NaN         1
6        0             17463     2          E46         2
7        1            349909     1          NaN         2
8        2            347742     1          NaN         2
9        0            237736     1          NaN         0
10       1           PP 9549     1           G6         2
11       0            113783     1         C103         2
12       0         A/5. 2151     0          NaN         2
13       5            347082     1          NaN         2
14       0            350406     0          NaN         2
15       0            248706     1          NaN         2
16       1            382652     1          NaN         1
17       0            244373     1          NaN         2
18       0            345763     1          NaN         2
19       0              2649     0          NaN         0
20       0            239865     1          NaN         2
21       0            248698     1          D56         2
22       0            330923     0          NaN         1
23       0            113788     1           A6         2
24       1            349909     1          NaN         2
25       5            347077     1          NaN         2
26       0              2631     0          NaN         0
27       2             19950     2  C23 C25 C27         2
28       0            330959     0          NaN         1
29       0            349216     0          NaN         2
..     ...               ...   ...          ...       ...
861      0             28134     1          NaN         2
862      0             17466     1          D17         2
863      2          CA. 2343     2          NaN         2
864      0            233866     1          NaN         2
865      0            236852     1          NaN         2
866      0     SC/PARIS 2149     1          NaN         0
867      0          PC 17590     2          A24         2
868      0            345777     0          NaN         2
869      1            347742     1          NaN         2
870      0            349248     0          NaN         2
871      1             11751     2          D35         2
872      0               695     0  B51 B53 B55         2
873      0            345765     0          NaN         2
874      0         P/PP 3381     1          NaN         0
875      0              2667     0          NaN         0
876      0              7534     0          NaN         2
877      0            349212     0          NaN         2
878      0            349217     0          NaN         2
879      1             11767     2          C50         0
880      1            230433     1          NaN         2
881      0            349257     0          NaN         2
882      0              7552     1          NaN         2
883      0  C.A./SOTON 34068     1          NaN         2
884      0   SOTON/OQ 392076     0          NaN         2
885      5            382652     1          NaN         1
886      0            211536     1          NaN         2
887      0            112053     1          B42         2
888      2        W./C. 6607     1          NaN         2
889      0            111369     1         C148         0
890      0            370376     0          NaN         1

[891 rows x 12 columns]

In [62]:
X = data.drop([ "Cabin", "Name", "Ticket", "Survived"], axis=1)
y = data["Survived"]

print(X)
print(y)

# split into train and test set
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, test_size=0.10, random_state=100
)

     PassengerId  Pclass  Sex   Age  SibSp  Parch  Fare  Embarked
0              1       3    0  22.0      1      0     0         2
1              2       1    1  38.0      1      0     2         0
2              3       3    1  26.0      0      0     0         2
3              4       1    1  35.0      1      0     2         2
4              5       3    0  35.0      0      0     0         2
5              6       3    0  24.0      0      0     0         1
6              7       1    0  54.0      0      0     2         2
7              8       3    0   2.0      3      1     1         2
8              9       3    1  27.0      0      2     1         2
9             10       2    1  14.0      1      0     1         0
10            11       3    1   4.0      1      1     1         2
11            12       1    1  58.0      0      0     1         2
12            13       3    0  20.0      0      0     0         2
13            14       3    0  39.0      1      5     1         2
14            15       3    1  14.0      0      0     0         2
15            16       2    1  55.0      0      0     1         2
16            17       3    0   2.0      4      1     1         1
17            18       2    0  24.0      0      0     1         2
18            19       3    1  31.0      1      0     1         2
19            20       3    1  24.0      0      0     0         0
20            21       2    0  35.0      0      0     1         2
21            22       2    0  34.0      0      0     1         2
22            23       3    1  15.0      0      0     0         1
23            24       1    0  28.0      0      0     1         2
24            25       3    1   8.0      3      1     1         2
25            26       3    1  38.0      1      5     1         2
26            27       3    0  24.0      0      0     0         0
27            28       1    0  19.0      3      2     2         2
28            29       3    1  24.0      0      0     0         1
29            30       3    0  24.0      0      0     0         2
..           ...     ...  ...   ...    ...    ...   ...       ...
861          862       2    0  21.0      1      0     1         2
862          863       1    1  48.0      0      0     1         2
863          864       3    1  24.0      8      2     2         2
864          865       2    0  24.0      0      0     1         2
865          866       2    1  42.0      0      0     1         2
866          867       2    1  27.0      1      0     1         0
867          868       1    0  31.0      0      0     2         2
868          869       3    0  24.0      0      0     0         2
869          870       3    0   4.0      1      1     1         2
870          871       3    0  26.0      0      0     0         2
871          872       1    1  47.0      1      1     2         2
872          873       1    0  33.0      0      0     0         2
873          874       3    0  47.0      0      0     0         2
874          875       2    1  28.0      1      0     1         0
875          876       3    1  15.0      0      0     0         0
876          877       3    0  20.0      0      0     0         2
877          878       3    0  19.0      0      0     0         2
878          879       3    0  24.0      0      0     0         2
879          880       1    1  56.0      0      1     2         0
880          881       2    1  25.0      0      1     1         2
881          882       3    0  33.0      0      0     0         2
882          883       3    1  22.0      0      0     1         2
883          884       2    0  28.0      0      0     1         2
884          885       3    0  25.0      0      0     0         2
885          886       3    1  39.0      0      5     1         1
886          887       2    0  27.0      0      0     1         2
887          888       1    1  19.0      0      0     1         2
888          889       3    1  24.0      1      2     1         2
889          890       1    0  26.0      0      0     1         0
890          891       3    0  32.0      0      0     0         1

[891 rows x 8 columns]
0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [63]:
# create the classifier
classifier = RandomForestClassifier(n_estimators=100)

# Train the model using the training sets
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [64]:
# predictin on the test set
y_pred = classifier.predict(X_test)

In [65]:
print(y_pred)
print(y_test)

print("Accuracy:", accuracy_score(y_test, y_pred))

[0 1 0 1 0 0 1 1 1 0 0 0 1 1 1 1 1 1 1 0 1 0 0 1 0 0 1 0 0 0 1 1 0 1 0 1 0
 1 0 1 1 0 0 0 1 0 1 0 1 1 0 1 0 1 0 0 1 0 0 0 1 0 1 0 1 1 0 0 0 1 0 1 1 0
 1 0 1 0 1 0 0 0 1 0 0 1 0 0 1 0]
281    0
452    0
87     0
347    1
392    0
34     0
604    1
325    1
389    1
587    1
610    0
704    0
336    0
268    1
643    1
627    1
348    1
782    0
172    1
104    0
205    0
467    0
454    0
257    1
850    0
114    0
680    0
568    0
125    1
775    0
      ..
662    0
287    0
330    1
495    0
264    0
669    1
597    0
200    0
0      0
866    1
217    0
349    0
370    1
255    1
700    1
5      0
417    1
517    0
585    1
302    0
464    0
885    0
190    1
145    0
552    0
747    1
845    0
112    0
578    0
135    0
Name: Survived, Length: 90, dtype: int64
Accuracy: 0.8333333333333334